<div class="header-app" style="margin-top:1rem;">
    <h1 style=" font-weight: bold;">Productos</h1>
</div>

<div class="form row">

    <div class="col-md-5">
        <mat-form-field appearance="standard" style="width: 90%;">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="fnFiltrarTabla($event)" placeholder="Buscar" #input>
        </mat-form-field>
    </div>

    <div class="col-md-2">

        <mat-form-field class="selectEstado" appearance="fill">
            <mat-label>Almacen</mat-label>
            <mat-select [formControl]="fAlmacen">
                <mat-option *ngFor="let opc of listaAlmacenes" [value]="opc.nIdAlmacen">
                    {{opc.sNombreAlmacen}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>


    <div class="col-md-2">
        <mat-form-field class="selectEstado" appearance="fill">
            <mat-label>Categoría</mat-label>
            <mat-select [formControl]="fCategoria">
                <mat-option *ngFor="let opc of listaCategorias" [value]="opc.nIdCategoria">
                    {{opc.sNombreCategoria}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    
    <div class="col-md-3">
        <div class="example-button-row botones ">

            <button mat-raised-button (click)="fnCleanFilter()">Limpiar</button>

            <button mat-raised-button (click)="fnListarProductos()">Consultar</button>

            <button mat-raised-button color="primary" (click)="fnAbrirModal(0,0)">Agregar</button>

        </div>
    </div>


</div>

<div class="mat-elevation-z8">

    <table mat-table [dataSource]="dsProducto" matSort aria-describedby="TablaProductos" >
      
        <!-- Codigo -->
        <ng-container matColumnDef="nIdCatProd">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaId" id="Codigo"> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.nIdCatProd}} </td>
        </ng-container>

        <!-- Nombre -->
        <ng-container matColumnDef="sNombreAlmacen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaNombre" id="NombreAlmacen"> Almacen </th>
            <td mat-cell *matCellDef="let element"> {{element.sNombreAlmacen}} </td>
        </ng-container>

           <!-- Rol -->
           <ng-container matColumnDef="sNombreCategoria">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaNombre" id="NombreCategoria"> Categoría </th>
            <td mat-cell *matCellDef="let element"> {{element.sNombreCategoria}} </td>
        </ng-container>

        <!-- Producto -->
        <ng-container matColumnDef="sNombreProducto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsProducto" id="Producto"> Producto </th>
            <td mat-cell *matCellDef="let element"> {{element.sNombreProducto}} </td>
        </ng-container>

        <!-- Cantidad -->
        <ng-container matColumnDef="nCantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaCantidad" id="Cantidad"> Cantidad </th>
            <td mat-cell *matCellDef="let element" class="clsQanty"> {{element.nCantidad}} </td>
        </ng-container>

        <!-- Unidad de Medida -->
        <ng-container matColumnDef="sNombreUM">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaCantidad" id="NombreUM"> U.M </th>
            <td mat-cell *matCellDef="let element"> {{element.sNombreUM}} </td>
        </ng-container>

        <!-- Precio -->
        <ng-container matColumnDef="nPrecio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaCantidad" id="Precio"> Precio </th>
            <td mat-cell *matCellDef="let element"> {{element.nPrecio}} </td>
        </ng-container>

        <!-- FechaVenc -->
        <ng-container matColumnDef="dFechaVenc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaCantidad" id="FechaVenc"> FechaVenc </th>
            <td mat-cell *matCellDef="let element"> {{element.dFechaVenc}} </td>
        </ng-container>

        <!-- Estado -->
        <ng-container matColumnDef="sEstado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaCantidad" id="Estado"> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.sEstado}} </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaAcciones" id="Accion"> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <div class="example-button-row ">
                    <button mat-raised-button color="accent" style="margin-right: 8px;"
                        (click)="fnAbrirModal(1,element.nIdCatProd)">Editar</button>
                    <button *ngIf="element.sEstado=='Activo'" mat-raised-button color="warn"
                        (click)="fnCambiarEstado(element.nIdCatProd,0)">Eliminar</button>
                    <button *ngIf="element.sEstado=='Inactivo'" mat-raised-button class="buttonActive"
                        (click)="fnCambiarEstado(element.nIdCatProd,1)">Activar</button>
                </div>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontraron datos con el filtro "{{input.value}}"</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>