<div class="row" style="width:100%">

    <div class="contenedor ">

        <div class="containerWave">
            <svg viewBox="0 0 720 273" fill="none" style="height: 100%; width: 100%;">
                <path
                    d="M720 201.808C503.169 2.83378e-05 216.788 423.789 7.97251e-07 211.958L1.93272e-05 5.17289e-07L718.792 6.33561e-05L720 201.808Z"
                    style=" fill: #3F51B5;"></path>
            </svg>
        </div>

        <div style="text-align: center;">
            <span class="txtLogo">SISGAPO</span>
        </div>
        <div class="imgLogo">

            <img src="./../../assets/Logo.svg" alt="logo" />

        </div>

        <div class="containerWaveBottomLeft">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M-2.93,75.29 C150.00,150.00 349.20,-49.99 615.41,59.70 L500.00,150.00 L-6.21,150.89 Z"
                    style="stroke: none; fill: #3F51B5;"></path>
            </svg>
        </div>

    </div>

    <div class="contenedor">

        <div style="margin-top: 5rem;">
            <span class="txtBienvenido">Bienvenido</span>
        </div>

        <div class="imgLogin">
            <img src="./../../assets/login.svg" alt="Welcome" />
        </div>
        <br>

        <div class="row formLogin">

            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-6">
                    <mat-form-field style="display:initial">
                        <mat-label>Usuario</mat-label>
                        <input matInput type="text" [formControl]="sUser" autocomplete="off" name="Nombres">
                    </mat-form-field>
                </div>

                <div class="col-md-3"></div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-6">

                    <mat-form-field style="display:initial">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" [formControl]="sPassword" autocomplete="off" name="Nombres">
                    </mat-form-field>

                </div>

                <div class="col-md-3"></div>
            </div>

            <br>
            
            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-6">
                    <button type="button" (click)="fnLogin()" color="primary" style="width: 100%;"
                        mat-raised-button>Ingresar</button>
                </div>
            </div>

        </div>

        <div class="containerWaveBottomRight">
            <svg viewBox="0 0 711 215" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path
                        d="M221.324 219.945C349.996 72.8276 476.231 269.438 716.598 -7.76868L717 215L428.494 224.188L221.324 219.945Z"
                        fill="#3F51B5" />
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="717" height="215" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </div>

    </div>


</div>