<div class="header-app" style="margin-top:1rem;">
    <h1 style=" font-weight: bold;">Gestión de {{appName}}</h1>
</div>

<div class="filtros">

    <div class="col-md-5">
        <mat-form-field class="example-form-field inputNombre">

            <mat-label>Nombre</mat-label>

            <input matInput type="text" [formControl]="fNombre">
            <button mat-button *ngIf="fNombre.value" matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>


    <div class="col-md-2">
       
        <mat-form-field class="selectEstado" appearance="fill">
            <mat-label>Rol</mat-label>
            <mat-select>
                <mat-option *ngFor="let opc of lRoles" [value]="opc.valor">
                    {{opc.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>


    <div class="col-md-2">
        <mat-form-field class="selectEstado" appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select>
                <mat-option *ngFor="let opc of lEstados" [value]="opc.valor">
                    {{opc.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-md-2">
        <div class="example-button-row botones ">

            <button mat-raised-button>Consultar</button>

            <button mat-raised-button color="primary" (click)="fnAbrirModal(0)">Agregar</button>

        </div>
    </div>

</div>



<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Codigo -->
    <ng-container matColumnDef="nIdUsuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
        <td mat-cell *matCellDef="let element"> {{element.nIdUsuario}} </td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="sNombreUsuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.sNombreUsuario}} </td>
    </ng-container>

    <!-- Rol -->
    <ng-container matColumnDef="sNombreRol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.sNombreRol}} </td>
    </ng-container>

    <!-- Estado -->
    <ng-container matColumnDef="sEstado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.sEstado}} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:20%"> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <div class="example-button-row ">
                <button mat-raised-button color="accent" style="margin-right: 8px;">Ver</button>
                <button mat-raised-button color="warn">Eliminar</button>
            </div>

        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>