<div>

    <h1 mat-dialog-title class="clstitulo">{{sAccionModal}} Producto</h1>

    <!-- Formulario de Productos-->
    <form [formGroup]="formProducto" ngNativeValidate autocomplete="off" name="Formulario" id="new-form">

        <div class="row" style="padding-bottom: 1rem;">
            <div class="col-md-6">
                <mat-form-field style="display:initial">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="sNombreProducto" autocomplete="off"
                        name="NombreProducto">
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="selectMat selectResp" appearance="fill">
                    <mat-label>Almacen</mat-label>
                    <mat-select formControlName="nIdAlmacen">
                        <mat-option *ngFor="let opc of lAlmacenes" [value]="opc.nIdAlmacen">
                            {{opc.sNombreAlmacen}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>


        <div class="row">

            <div class="col-md-3">
                <mat-form-field class="selectMat selectResp" appearance="fill">
                    <mat-label>Categoría</mat-label>
                    <mat-select formControlName="nIdCategoria">
                        <mat-option *ngFor="let value of lCategorias" [value]="value.nIdCategoria">
                            {{value.sNombreCategoria}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field style="display:initial">
                    <mat-label>Cantidad</mat-label>
                    <input matInput type="number" formControlName="nCantidad" autocomplete="nope" name="Telefono">
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field class="selectMat selectResp" appearance="fill">
                    <mat-label>Unidad de Medida</mat-label>
                    <mat-select formControlName="nIdUnidadMedida">
                        <mat-option *ngFor="let opc of lUnidadMedida" [value]="opc.nIdUnidadMedida">
                            {{opc.sNombreUM}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field style="display:initial">
                    <mat-label>Precio por U.M</mat-label>
                    <input matInput type="number" formControlName="nPrecio" autocomplete="nope" name="Telefono">
                </mat-form-field>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <mat-form-field appearance="fill" class="selectMat selectResp">
                    <mat-label>Fecha de Fabricación</mat-label>
                    <input matInput type="search" [matDatepicker]="pickerFab" formControlName="dFechaFab"
                        (dateChange)="fnCambiarFecha($event,1)" autocomplete="off" name="FechaFab" id="FechaFab">
                    <mat-datepicker-toggle matSuffix [for]="pickerFab"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFab></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="fill" class="selectMat selectResp">
                    <mat-label>Fecha de Vencimiento</mat-label>
                    <input matInput type="search" [matDatepicker]="pickerVenc" formControlName="dFechaVenc"
                        (dateChange)="fnCambiarFecha($event,2)" autocomplete="off" name="FechaVenc" id="FechaVenc"
                        [min]="formProducto.controls.dFechaFab.value">
                    <mat-datepicker-toggle matSuffix [for]="pickerVenc"></mat-datepicker-toggle>
                    <mat-datepicker #pickerVenc></mat-datepicker>
                </mat-form-field>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12  justify-content-center">

                <mat-form-field style="display:initial">
                    <mat-label>Descripcion</mat-label>
                    <textarea matInput type="text" formControlName="sDescripcion" name="Descripc"
                        autocomplete="off"></textarea>
                </mat-form-field>

            </div>

        </div>

        <!--Region Botones-->
        <div class="row" style="padding-top: 1rem;">

            <div class="col-md-6">
                <button type="button" color="primary" style="width: 100%;" mat-raised-button
                    (click)="fnGrabar()">Grabar</button>
            </div>

            <div class="col-md-6">
                <button type="button" color="warn" style="width: 100%;" mat-raised-button
                    (click)="fnCerrarModal(0)">Cancelar</button>
            </div>

        </div>
    </form>

</div>