.categoria-filtros {
  display: flex;
  max-width: 38rem;
  align-items: center;
  gap: .75rem;
}

.categoria-filtros mat-form-field {
  flex: 1;
  width: 100%;
}

.categoria-filtros mat-icon {
  margin-right: .5rem;
  color: #6b7280;
}

.categoria-filtros button {
  margin-bottom: 1.34375em;
  flex-shrink: 0;
}

.categoria-tabla {
  overflow: hidden;
  border-radius: .5rem;
}

.categoria-nombre {
  font-weight: 600;
}

@media (max-width: 600px) {
  .categoria-filtros {
    align-items: stretch;
    flex-direction: column;
    gap: 0;
  }

  .categoria-filtros button {
    align-self: stretch;
    margin-top: -.5rem;
    margin-bottom: 0;
  }
}
