.header-app {
    text-align: center;
}

.zona-formulario-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-card {
    width: 20rem;
    max-width: 100%;
    box-sizing: border-box;
}

.inputDatos {
    width: 100%;
}

.tamanioImagen {
    max-width : 16rem;
    max-height: 16rem;
}

.divImagen {
    justify-content: center;
    display        : flex;
}
