<div>
    <h1 mat-dialog-title class="clstitulo">{{sAccionModal}} Almacén</h1>
    <form [formGroup]="formAlmacen" ngNativeValidate autocomplete="off" name="Formulario" id="new-form">
        <div class="row fila-formulario">
            <div class="col-md-6">
                <mat-form-field class="campo-completo">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="sNombreAlmacen" autocomplete="off" name="Nombre">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="campo-completo">
                    <mat-label>Dirección</mat-label>
                    <input matInput type="text" formControlName="sDireccion" autocomplete="nope" name="Direccion">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="campo-completo selectResp" appearance="fill">
                    <mat-label>Zona</mat-label>
                    <mat-select formControlName="nIdZona">
                        <mat-option *ngFor="let opc of lZonas" [value]="opc.nIdZona">
                            {{opc.sNombreZona}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="campo-completo selectResp" appearance="fill">
                    <mat-label>Supervisor</mat-label>
                    <mat-select formControlName="nIdSupervisor">
                        <mat-option *ngFor="let opc of lSupervisores" [value]="opc.nIdSupervisor">
                            {{opc.sNombrePersona}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row fila-botones">
            <div class="col-md-6">
                <button type="button" color="primary" class="boton-modal" mat-raised-button
                    (click)="fnGrabar()">Grabar</button>
            </div>
            <div class="col-md-6">
                <button type="button" color="warn" class="boton-modal" mat-raised-button
                    (click)="fnCerrarModal(0)">Cancelar</button>
            </div>
        </div>
    </form>
</div>
