<div>
    <!--Titulo-->
    <h1 mat-dialog-title class="clstitulo">Tracking</h1>
    <!--Formulario-->
    <form [formGroup]="formCliente" ngNativeValidate autocomplete="off" name="Formulario" id="new-form">

        <!--Formulario: Nombre-->
        <div class="col-md-12">
            <mat-form-field style="display:initial">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="sNombre" autocomplete="off" name="Nombre">
            </mat-form-field>
        </div>

        <!--Formulario: Correo-->
        <div class="col-md-12">
            <mat-form-field style="display:initial">
                <mat-label>Correo</mat-label>
                <input matInput type="text" formControlName="sEmail" autocomplete="nope" name="Email">
            </mat-form-field>
        </div>

        <!--Formulario: Telefono-->
        <div class="col-md-12">
            <mat-form-field style="display:initial">
                <mat-label>Telefono</mat-label>
                <input matInput type="text" formControlName="nTelefono" autocomplete="nope" name="Telefono">
            </mat-form-field>
        </div>

        <!--Formulario: Direccion-->
        <div class="col-md-12">
            <mat-form-field style="display:initial">
                <mat-label>Dirección</mat-label>
                <input matInput type="text" formControlName="sDireccion" autocomplete="nope" name="Direccion">
            </mat-form-field>
        </div>

        <!--Formulario: Descripcion-->
        <div class="col-md-12">
            <mat-form-field style="display:initial">
                <mat-label>Descripcion</mat-label>
                <textarea matInput formControlName="sDescripcion" autocomplete="nope" name="Descripcion">
                </textarea>
            </mat-form-field>
        </div>

        <!--Botonera-->
        <div class="row" style="padding-top: 1rem;">
            <!--Guardar-->
            <div class="col-md-6">
                <button type="button" color="primary" style="width: 100%;" mat-raised-button
                    (click)="fnGrabar()">Grabar</button>
            </div>
            <!--Cancelar-->
            <div class="col-md-6">
                <button type="button" color="warn" style="width: 100%;" mat-raised-button
                    (click)="fnCerrarModal(0)">Cancelar</button>
            </div>

        </div>
    </form>

</div>