<!--Titulo-->
<div class="header-app" style="margin-top:1rem;">
    <h1 style=" font-weight: bold;">Tracking</h1>
</div>

<!--Filtrar y Agregar -->
<div class="form row">
<!--Filtro-->
    <div class="col-md-6">
        <mat-form-field appearance="standard" style="width: 90%;">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
        </mat-form-field>
    </div>
    <!--Botón agregar-->
    <div class="col-md-1">
        <div class="example-button-row botones ">
            <button mat-raised-button color="primary" (click)="fnAbrirModal(0,0)">Agregar</button>
        </div>
    </div>
</div>

<!--Tabla de Clientes-->
<div class="mat-elevation-z8">

    <table mat-table [dataSource]="dsClientes" matSort aria-describedby="TablaClientes" >
        
        <!-- Codigo -->
        <ng-container matColumnDef="nIdCliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaId" id="IdCliente"> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.nIdCliente}} </td>
        </ng-container>

        <!-- Nombre -->
        <ng-container matColumnDef="sNombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumna" id="Nombre"> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.sNombre}} </td>
        </ng-container>

        <!-- Rol -->
        <ng-container matColumnDef="sEmail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumna" id="Correo"> Correo </th>
            <td mat-cell *matCellDef="let element"> {{element.sEmail}} </td>
        </ng-container>

        <!-- Estado -->
        <ng-container matColumnDef="nTelefono">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumna" id="Telefono"> Telefono </th>
            <td mat-cell *matCellDef="let element"> {{element.nTelefono}} </td>
        </ng-container>

        <!-- Estado -->
        <ng-container matColumnDef="sDireccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumna" id="Direccion"> Direccion </th>
            <td mat-cell *matCellDef="let element"> {{element.sDireccion}} </td>
        </ng-container>

        <!-- Estado -->
        <ng-container matColumnDef="sDescripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumna" id="Descripcion"> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.sDescripcion}} </td>
        </ng-container>

        <!--Acciones-->
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaAcciones" id="Accion"> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <div class="example-button-row ">
                    <button mat-raised-button color="accent" style="margin-right: 8px;"
                        (click)="fnAbrirModal(1,element.nIdCliente)">Editar</button>                    
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontraron datos con el filtro "{{input.value}}"</td>
        </tr>
    </table>
    <!--Mat Paginator-->
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>